@model IEnumerable<MyCatalog.Service.Category>

@{
    ViewData["Title"] = "Categorie";
}

<h2>Categorie</h2>

<p>
    <a asp-action="CreateCategory">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categoryname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoryname)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditForm", new { CategoryId = item.CategoryId })
                    @Html.ActionLink("Details", "DetailsCategory", new { CategoryId = item.CategoryId })
                    @Html.ActionLink("Delete", "DeleteForm", new { CategoryId = item.CategoryId })
                </td>
            </tr>
        }
    </tbody>

</table>
<div>
    <ul class=" nav nav-pills">
        @{
            for (int i = 0; i < ViewBag.totalPages; i++)
            {
                string className = "";

                if (i == ViewBag.currentPage)
                {
                    className = "active";
                }
                <li class="@className">
                    <a asp-action="Categorie" asp-route-page="@i">@(i + 1)</a>
                </li>
            }
        }

    </ul>
</div>
